:root {
  --main-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgb(33, 150, 243);
  --black: rgba(33, 33, 33, 1);
  --white: #ffffff;
  --footer-text-accent: rgba(255, 255, 255, 0.6);
  --main-bg: #e5e5e5;
  --light-bg: #f5f4fa;
  --dark-bg: #2f303a;
  --line: #eeeeee;
  --svg: #afb1b8;
  --footer-social: rgba(255, 255, 255, 0.1);
  --work-bg: rgba(47, 48, 58, 0.8);
  --backdrop: rgba(0, 0, 0, 0.2);
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--main-bg);
  color: var(--main-text-color);
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  /* display: inline-block; */
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
}

.header .logo {
  margin-right: 93px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio {
  color: var(--black);
}

.site-nav {
  display: flex;
  position: relative;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--black);
}

.site-nav .link:hover, .site-nav .link:focus {
  padding: 0;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hover-time {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-line::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background-repeat: no-repeat;
  background-size: cover;
}

.line::after {
  background-image: url(../images/line.svg);
}

.contacts {
  display: inline-flex;
  align-items: center;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.phone {
  display: flex;
  align-items: center;
}

.phone:hover, .phone:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.contacts-icon-svg {
  display: inline-flex;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  object-position: bottom;
  fill: var(--main-text-color);
}

.envelope {
  width: 16px;
  height: 12px;
}

.envelope:hover, .envelope:focus {
  fill: var(--accent-color);
}

.smartphone {
  width: 10px;
  height: 16px;
}

.smartphone:hover, .smartphone:focus {
  fill: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.hero {
  text-align: center;
  background-image: radial-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img14.jpg);
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-content {
  display: flex;
  justify-content: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.38;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  text-align: center;
}

.hero-container .button {
  margin-bottom: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: 0;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white);
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.social-icon {
  display: flex;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
}

.social-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-icon-link:hover, .social-icon-link:focus {
  background-color: var(--accent-color);
}

.social-icon-link:hover .social-icon-svg,
.social-icon-link:focus .social-icon-svg {
  fill: var(--white);
}

.social-icon-svg {
  width: 20px;
  height: 20px;
  display: flex;
  fill: var(--svg);
  justify-content: center;
}

.form-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}

.form-file {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-file:not(:last-child) {
  margin-bottom: 10px;
}

.form-content {
  margin-bottom: 4px;
}

.form-box {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form-box:focus {
  outline: none;
  cursor: pointer;
  border-color: var(--accent-color);
  color: var(--main-text-color);
}

.form-box:focus ~ .modal-svg {
  fill: var(--accent-color);
}

.form-icon {
  position: relative;
  justify-content: center;
  align-items: center;
}

.modal-svg {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.message {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.message:focus {
  outline: none;
  cursor: pointer;
  border-color: var(--accent-color);
  color: var(--main-text-color);
}

.checkbox-lable {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  align-items: center;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.chek-icon {
  margin-left: 12px;
  width: 17px;
  height: 16px;
  border: 1px solid var(--black);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .chek-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/iconcheck.svg);
  background-repeat: no-repeat;
  pointer-events: none;
  background-size: contain;
}

.link-consent {
  color: var(--accent-color);
  text-decoration: underline;
  padding-left: 4px;
}

.button-modal {
  margin-left: 124px;
  margin-right: 124px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: var(--white);
  border-radius: 4px;
}

.button-modal-close {
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-modal-close:hover {
  cursor: pointer;
}

.modal-close-svg {
  display: flex;
  justify-content: center;
  width: 11px;
  height: 11px;
}

.modal-close-svg:hover {
  fill: var(--accent-color);
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.button-filter {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: var(--light-bg);
  color: var(--black);
  border: 0;
  border-radius: 4px;
}

.button-filter:hover, .button-filter:focus {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter:visited {
  background-color: var(--light-bg);
  color: var(--black);
}

.section-features {
  padding-top: 94px;
  padding-bottom: 47px;
  background-color: var(--white);
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list .contant-box:not(:last-child) {
  margin-right: 30px;
}

.contant-box {
  width: calc((100% -90px) / 4);
}

.contant-box p {
  margin-top: 0;
  margin-bottom: 0;
}

.contant-box::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--light-bg);
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.section-title-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--black);
}

.section-work {
  padding-top: 47px;
  padding-bottom: 94px;
  background-color: var(--white);
}

.work-container li {
  width: 370px;
}

.gallery-item {
  position: relative;
  width: calc((100% -60px) / 3);
}

.grid .gallery-item:not(:last-child) {
  margin-right: 30px;
}

.work-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--white);
  background-color: var(--work-bg);
}

.section-team {
  background-color: var(--light-bg);
}

.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-container li {
  width: 270px;
}

.gallery-team {
  width: calc((100% -90px) / 4);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.gallery-team p {
  margin-top: 0;
  margin-bottom: 0;
}

.grid .gallery-team:not(:last-child) {
  margin-right: 30px;
}

.team-person {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  letter-spacing: 0.03em;
  width: 270px;
}

.section-title {
  margin-top: 0;
  margin-block-end: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--black);
}

.time {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--black);
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients {
  background-color: var(--white);
}

.clients-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 50px;
}

.clients-list {
  width: calc((100% - 162px) / 6);
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list:hover, .clients-list:focus {
  border: 1px solid var(--accent-color);
}

.grid .clients-list:not(:last-child) {
  margin-right: 30px;
}

.clients-icon-link {
  display: flex;
  justify-content: center;
  text-align: center;
}

.clients-icon-link:hover .clients-icon-svg,
.clients-icon-link:focus .clients-icon-svg {
  fill: var(--accent-color);
}

.clients-icon-svg {
  display: flex;
  fill: var(--svg);
}

.logo1 {
  width: 45px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo2 {
  width: 40px;
  height: 52px;
  margin-top: 19px;
  margin-bottom: 19px;
}

.logo3 {
  width: 41px;
  height: 53px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.logo4 {
  width: 80px;
  height: 43px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.logo5 {
  width: 59px;
  height: 47px;
  margin-top: 21px;
  margin-bottom: 21px;
}

.logo6 {
  width: 89px;
  height: 46px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding-top: 61px;
  padding-bottom: 61px;
  background-color: var(--dark-bg);
  color: var(--footer-text-accent);
}

.footer .social-icon {
  margin: 0;
  padding-right: 0;
}

.footer .social-list {
  margin: 0;
}

.footer .social-list:not(:last-child) {
  padding-right: 10px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 19px;
}

.footer-content {
  display: flex;
  width: calc((100% - 30px) / 2);
}

.footer-content-right {
  width: calc((100% - 30px) / 2);
}

.footer-content-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-svg {
  fill: var(--white);
}

.footer-link {
  background-color: var(--footer-social);
}

.logo-studio-wight {
  color: var(--white);
}

.footer-list {
  font-style: normal;
  color: var(--footer-text-accent);
}

.map {
  display: inline-block;
  margin-bottom: 11px;
  color: var(--white);
}

.footer-mail {
  margin-bottom: 11px;
}

.join {
  display: flex;
  width: 570px;
  height: 50px;
}

.join input {
  width: 358px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--dark-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--footer-text-accent);
}

.button-footer {
  display: inline;
  position: relative;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.bt-foot-title::after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  background-repeat: no-repeat;
}

.icon-send::after {
  background-image: url(../images/send.svg);
}

.section-portfolio {
  background-color: var(--white);
}

.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-container li {
  width: 370px;
}

.button-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-portfolio .button-filter:not(:last-child) {
  margin-right: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.gallery-portfolio {
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.gallery-portfolio:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery-portfolio:hover, .gallery-portfolio:focus {
  box-shadow: 1px 1px 1px 1px rgba(110, 63, 63, 0.12), 1px 1px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(150, 47, 47, 0.16);
}

.project {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 23px;
  padding-right: 23px;
  border: 1px solid var(--line);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--black);
}

.project-subtitle {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-img {
  position: relative;
  overflow: hidden;
}

.menu-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: var(--accent-color);
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .menu-overlay,
.portfolio-link:focus .menu-overlay {
  transform: translateY(0);
}

.menu-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
}
/*# sourceMappingURL=main.css.map */