.social-icon {
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

.social-icon-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--accent-color);
}

.social-icon-svg {
    width: 20px;
    height: 20px;
    display: flex;
    fill: var(--svg);
    justify-content: center;
}

.social-icon-link:hover .social-icon-svg,
.social-icon-link:focus .social-icon-svg {
    fill: var(--white);
}
